.App {
  text-align: center;
}

.header-container{  /* "Do AI models learn" box */
  background-color: rgb(238, 238, 238);
  margin: auto; /* Align box to centre no matter screensize */
  width: 90%;
  border-radius: 5px; /* round the edges */
  box-shadow: 10px 5px 8px  #cacaca;
}

.header-container h2{   /* "Do AI models learn" text */
  padding: 10px; /* Padding around the text */
}

.graph-container{  /* "Do AI models learn" box */
  box-sizing: border-box;
  height: 60vh;
}

/*
  TODO: May have to update this graph style below if inserting the graph messes up with the proportions
*/
.graph{
  margin: auto;
  float: left;  /* Make it so graph is side by side instead of one ontop of the other */
  width: 50%;   
  height: 60vh;                          /*vh is basiclly vertical percentage*/
  box-shadow: 1px 1px 1px 1px black;  /* get rid of shadow once graphs are added 
  Box shadow is only being used to outline the where the graphs will be*/
}

.options-container{
  padding-bottom: 15px;
}

.details-container{
  margin-top: 20px;
  height: 24vh;
  display: flex;  /* Google flexbox if you dont know what it is, its used alot in css */
  flex-direction: row;  /* Make items go side by side horizantally  */
}

.detail{    /* changes will be needed to this, deatiled in details.js file */
  width: 30%; 
  margin: auto;  
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: 10px 5px 8px  #cacaca;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

